.AA input
{
    margin-right: 10px;
    background-color: #d87d21;
    border-width: 10px;
    border-radius: 6px;
}
.BB input
{
    margin-right: 10px;
    background-color: #d87d21;
    border-width: 10px;
    border-radius: 6px;
}
.C{
    margin-right: 10px;
    background-color: #d87d21;
    border-width: 10px;
    border-radius: 6px;
}
.Dad{
    margin-right: 10px;
   background-color: #d87d21;
   border-width: 10px;
   border-radius: 6px;
}